/* Class that hides framework legend */
.hideLegend{
	display:none !important;
}
/* wrapper for top section of app */
.topWrapper{ 
	position:absolute; left:0px; top:30px; width:100%; height:45px; background-color:#fff; z-index:9; 
}	
.selectDivs{
	margin-bottom:5px; margin-left:10px; margin-top:10px;
}
.borderDiv{
	position:absolute; top:45px; left:0px; width:100%; height:1px; background-color:#fff; border-bottom:2px solid #666; -webkit-box-shadow:1px 1px 2px 0px rgba(102,102,102,0.7); 
	-moz-box-shadow:1px 1px 2px 0px rgba(102,102,102,0.7); box-shadow:1px 1px 2px 0px rgba(102,102,102,0.7); z-index:10;
}
/* Dropshadows */
.bottomRight{
	-webkit-box-shadow:2px 2px 3px 0px rgba(102,102,102,0.7); -moz-box-shadow:2px 2px 3px 0px rgba(102,102,102,0.7); box-shadow:2px 2px 3px 0px rgba(102,102,102,0.7);
}
.bottomRight1{
	-webkit-box-shadow:1px 1px 2px 0px rgba(102,102,102,0.7); -moz-box-shadow:1px 1px 2px 0px rgba(102,102,102,0.7); box-shadow:1px 1px 2px 0px rgba(102,102,102,0.7);
}
/* Headers */
.sectionHeader{
	font-weight:bold; margin-top:5px;
}
.sectionHeaderS2{
	font-weight:bold; color:#21658c; margin-top:5px; margin-bottom:8px;
}
.sectionHeaderUR{
	position:absolute; font-weight:bold; right:10px; top:10px; color:#21658c; text-align:right;
}
.sectionHeader1{
	font-size:11pt !important; color:#21658c; cursor: default; margin-bottom:0px; margin-top:5px;
}
.sectionHeader2{
	color:#21658c; cursor: pointer; margin-top: 3px;
}	
/* Tax District Data */
.s2Atts{
	font-weight:bold;
} 	
/* Summary Parcel Toggles */
.parView, .sumView{
	color:blue; cursor:pointer;
}
.sumView, .parText, .filterDiv, .nfos, .ceos{
	display:none;
}
.hideDivs{
	display:none;
}	
.viewClick{
	display:inline-block;	
}
.filterInline{
	display:inline-block;	
}	
input[type="text"]{
	width:95px !important; height:25px !important; padding:3px !important; margin:0px 5px 5px 0px !important;
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif !important; font-size:11pt !important;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.6) inset;
}
.parcelAcresIn::-webkit-input-placeholder { font-size:10pt; }
.parcelAcresIn::-moz-placeholder { font-size:10pt; } /* firefox 19+ */
.parcelAcresIn:-ms-input-placeholder { font-size:10pt; } /* ie */
.parcelAcresIn input:-moz-placeholder { font-size:10pt; }
.parcelAcresDiv{
	float:right; width:100px; margin-bottom:-3px; margin-left:3px; display:none;
}	
.acreText{
	font-size:10pt; color:red; float:right; margin-top:14px; font-weight:bold; margin-left:12px; display:none;
}	
/* expand collapse icons */
.gExp, .gCol{
	cursor:pointer; 	
}
.gCol{
	display:none;	
}	
.expCol{
	margin-right:3px !important; float:left;
}	
.lyrExpCol{
	margin-left:1px !important; display:inline-block;
}	
.sumHeader{
	display:inline-block;
}	
/* Chosen select menu elements */
.chosen-container-single .chosen-single{
	padding: 0 0 0 4px;
}
.chosen-container-single .chosen-default, .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	color:#444;
}	
.chosen-container-single .chosen-single abbr{
	right:16px;
}	
.chosen-container-single .chosen-single span{
	margin-right:20px;
}
.chosen-container-single .chosen-single-with-deselect span{
	margin-right:20px;
}
abbr.search-choice-close {
  cursor: pointer;
}
/* Checkbox and labels */
.crsCb{
	cursor:pointer;
}
.checkBoxLabels{
	margin-left:0px; display:inline-block;
}
label.checkBoxLabels input[type=checkbox]{
	position: relative; vertical-align: middle; bottom: 1px; margin-right:3px;
}
/* Info icons */
.infoOpen{
	cursor:pointer; margin-left:4px; margin-bottom:-3px; display:none;
}
/* Parcel checkbox rows */
.smallLegends{
	margin-bottom:-5px; margin-left:-5px; height:20px; width:20px;
}	
.smIndent{
	margin-left:-5px;	
}	
.smIndent1{
	margin-left:5px;	
}	
/* Indents */
.firstIndent{
	margin-left:5px;
	margin-top:8px;	
}
.secondIndent1{
	margin-top:4px;
	margin-left:15px;
	margin-bottom:0px;
}
.labelIndent{
	margin-left:18px;
}	
.secondIndent{
	margin-top:4px;
	margin-left:19px;
	margin-bottom:6px;
}
.secondIndent2{
	margin-top:4px;
	margin-left:5px;
	margin-bottom:6px;
}
.thirdIndent{
	margin-top:5px;
	margin-left:25px;	
}
/* Hide elements before Open Space Parcel Eligible is clicked */
.step0, .step1, .step2, .step3{
	display:none;
}	
.step1, .step2, .step3{
	position:relative; top:45px;
}
	
/* Bottom Bar Elements */
.bottomDiv{
	position:absolute; bottom:0px; left:0px; width:100%; border-top-style:groove !important; height:30px !important; 
	background-color:#F3F3F3 !important; padding-top:3px !important; display:none;
}
.sliderDiv{
	width:252px; margin:0 auto; text-align:center; 
}
.printReport{
	margin-left:5px; display:inline-block; display:none;
}
.dlCSV{
	float:right; margin-right:5px; display:none;
}
.bottomLinks:hover{
	background-color:#eee; border:1px solid #bbb; cursor:pointer;
}
.bottomLinks:active{
	background-color:#f3f3f3; border:1px solid #bbb; cursor:pointer;
}
.bottomLinks{
	width:70px; height:20px; padding-top:2px; border:1px solid #ddd; background-color:#eee; text-align:center; font-size:10pt; color:#21658c; font-weight:bold;
}
.leftSliderLabel{
	display:inline-block; margin-right:9px; font-size:10pt;
}	
.slider{
	width:100px; display:inline-block;
}
.ui-slider-horizontal { 
	height: 5px; 
}
.ui-slider-horizontal .ui-slider-handle { 
	height:15px; width:15px; margin-top:-1px; 
}
.rightSliderLabel{
	display:inline-block; margin-left:5px; font-size:10pt;
}
/* Clear Tax District Clicks */
.clearTD{
	cursor:pointer; color:blue;	
}
.clearTD:active{
	color:#21658c;
}	
/* Popup Legend Elements */
.myLegendHeader{
	background-color:#424542; color:#fff; height:28px; font-size:1em; font-weight:bold; padding:8px 0px 0px 10px; cursor:move;
}
.myLegendCloser{
	float:right !important; width:26px; height:26px; border-left:1px solid #666; text-align:center; font-weight:bold; padding:6px !important; right:-8px; color:#cecfce; border-radius:5px;
}
.myLegendCloser:hover{
	background-color:#000; color:#cecfce;
}
.myLegendCloser:active{
	background-color:#545754; border-right:1px solid #666; border-left:none; 
}	
.myLegendDiv{
	width:180px; height:100%;
}
.mySpeciesLegend{
	display:block; text-align:right; margin-left:-10px; padding:10px !important;
}
.barWrapper {
	width: 346px; height: 25px; position: relative; left:6px; margin-bottom:4px; background-color:#333; float:left;	
	/*-moz-box-shadow: 2px 2px 3px #999; -webkit-box-shadow: 2px 2px 3px #999; box-shadow: 2px 2px 3px #999;*/
} 
.bars{
	position: absolute; display: block; width: 342px; height: 20px; border: 0; left: 0px; bottom: 0%; float:left; color:black; 
	-moz-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
	box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
}
.spanBar{
	top:2px; left:2px; overflow:hidden; text-indent:-30px;
}
.emBar{
	border-top:1px solid #424542; border-right:1px solid #424542;
}
.barLabel{
	position:relative; z-index:2; left:35px; top:7px; display:none;
}
.bar3{
	background: repeating-linear-gradient(45deg, #ecefde, #ecefde 5px, #ccc 5px, #ccc 10px);
}
.bar2{
	background-color:#8fb440;
}
.bar1{
	background-color:#c8841d;
}
.topPad{
	margin-top:15px;
}	
.topLabel{
	margin-left:5px; margin-bottom:-3px; 
}
.bottomLabel{
	margin-left:2px; display:none;
}	
.graphLegLbl{
	float:left;	margin-top:3px; margin-left:3px;
}
.graphLegend{
	height: 17px; width:17px; float:left;
	-moz-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
	box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
}	
.bar2a{
	margin-left:7px;
}
.grLgDiv{
	margin:auto; height:20px; width:210px; position:relative;
}
.sumHr{
	margin-bottom:5px !important; margin-top:45px !important;
}	
.longLegDiv{
	margin-bottom:2px; display:none;
}	
.selectParcels{
	margin-top:5px; cursor:pointer;	color:blue;
}	
.hideParcels, .undoRemove{
	margin-top:5px; cursor:pointer;	color:blue; display:none;
}	
.dijitTooltipContainer{
	background: #fff !important; padding:3px; width:225px; 
}	
.myTooltip{
	font-size:10pt !important;
}	
.closePup{
	float:right; margin-right:3px; font-weight:bold; color:blue; cursor:pointer;	
}
.removeParcel{
	color:#a11226; margin-left:44px; cursor:pointer;
}	
.removeParcel:hover{
	color:#e51a37;
}	
.puHr{
	margin-bottom:3px !important; margin-top:3px !important;
}
/* Hidden Print Table Styles */
.pt {
	display:none; 		
}		
.printTable {
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif !important; font-size: 10pt !important; table-width:fixed; 
	background-color: #fff; text-align: left; border-spacing: 0; border: #777 1px solid; width:1000px; margin-left:30px;
}
.printTable th,
.printTable td {
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif !important; font-size: 14pt !important; border: #777 1px solid; padding: 2px 3px;
}
.printTable .filtered {
	display: none !important; 
}
.printTable .filtered2 {
	display: none !important; 
}		
.psHead{
	font-weight:bold;	
}	
.psIn{
	margin-left:10px;
} 	
.psTop{
	text-decoration:underline;
}	
.summary{
	font-size:18pt !important;
}	
#tableWrapper {
	position: absolute; top:640px; width:100%; visibility: visible;
}
#tableTitle{
	text-align:center; width:1400px; margin-bottom:5px; font-size:24pt !important; visibility: visible;
}
#summary {
	margin-left:640px; margin-top:40px; visibility: visible;
}	
#title {
	text-align:center; width:1400px; font-size:24pt !important; visibility: visible;
}
.popover-header{
	height:40px !important; padding:12px !important;
}
#print-preview-print{
	position:absolute; right:23px; top:60px; z-index:100; 
}	
.instructions{
	position:absolute; width:410px; margin-left:-205px; left:50%; top:60px; z-index:100; font-weight:bold; font-size: 16px; color: #ffffff; 
	text-transform: uppercase; background:rgba(38,100,142,0.7); line-height:1;	
	-webkit-box-shadow:1px 1px 2px 0px rgba(102,102,102,0.7); -moz-box-shadow:1px 1px 2px 0px rgba(102,102,102,0.7); box-shadow:1px 1px 2px 0px rgba(102,102,102,0.7);
}	
.print-preview-container{
	padding:0px !important; 
}	
.tbox{
	top:100px !important;	
}	